@use '@angular/material' as mat;

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    height: 7rem;
    padding: 2rem 35%;

    .input-block {
        width: 50vw;
    }
    .strength-block {
        width: 50vw;
        font-size: 0.8rem;
    }

    .show-password-switch {
        width: 50vw;
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
        font-size: 0.8rem;

        &__label {
            padding-left: 0.7rem;
        }
    }
} 

@media (max-width: 480px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        height: 7rem;
        padding: 2rem;
    
        .input-block {
            width: 100vw;
        }
        .strength-block {
            width: 100vw;
        }
        .show-password-switch {
            width: 100vw;
            display: flex;
            justify-content: flex-start;
            margin-top: 1rem;
            font-size: 0.8rem;
    
            &__label {
                padding-left: 0.7rem;
            }
        }
    }
    
}

