@use '@angular/material' as mat;

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    height: 7rem;
    padding: 2rem;

    .input-block {
        width: 50vw;
    }
    .strength-block {
        width: 50vw;
    }
}

@media (max-width: 480px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        height: 7rem;
        padding: 2rem;
    
        .input-block {
            width: 100vw;
        }
        .strength-block {
            width: 100vw;
        }
    }
    
}

