<section>
  
  <mat-form-field appearance="fill" class="input-block">
    <mat-label>Password</mat-label>
    <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" (input)="onInputChange()" name="password">
  </mat-form-field>
  
  
  <div class="strength-block">
    <div class="progress-bar">
      <mat-progress-bar
        mode="determinate"
        [value]="calculatePasswordStrength()"
        [color]="passwordStrengthColor()"
        mode="determinate"
        class="custom-progress-bar"
      ></mat-progress-bar>
    </div>
    <div>{{ passwordStrengthLabel() }}</div>
  </div>
  <div  class="show-password-switch">
    <mat-slide-toggle [(ngModel)]="showPassword" name="showPassword"/>
    <mat-label class="show-password-switch__label">Show password</mat-label>
  </div>
  
</section>

  