@use '@angular/material' as mat;

/// Defines a dark color theme with success and danger colors.
/// @param {Map} $primary The primary color map.
/// @param {Map} $accent The accent color map.
/// @param {Map} $warn The warn color map.
/// @param {Map} $success The success color map.
/// @param {Map} $danger The danger color map.

@function fs-dark-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$mat-orange-palette),
  $success: mat.define-palette(mat.$mat-green-palette),
  $danger: mat.define-palette(mat.$mat-red-palette)
) {
  $dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
    )
  );

  $danger-success: (
    success: $success,
    danger: $danger,
  );
  @return map-merge($dark-theme, $danger-success);
}


/// Defines a light color theme with success and danger colors.
/// @param {Map} $primary The primary color map.
/// @param {Map} $accent The accent color map.
/// @param {Map} $warn The warn color map.
/// @param {Map} $success The success color map.
/// @param {Map} $danger The danger color map.
@function fs-light-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$mat-orange-palette),
  $success: mat.define-palette(mat.$mat-green-palette),
  $danger: mat.define-palette(mat.$mat-red-palette)
) {
  $light-theme: mat.define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
    )
  );
  $danger-success: (
    success: $success,
    danger: $danger,
  );
  @return map-merge($light-theme, $danger-success);
}
